<div class="container-fluid">
  <div class="container">
    <div class="form-check form-check-inline" *ngFor="let country of countries">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{country[0]}}" (change)="toggleFilter($event)">
      <label class="form-check-label" for="inlineCheckbox1">{{country[1]}}</label>
    </div>
  </div>
<div class="container">
  <h3 *ngIf="filterCountries.length === 0">No filter Selected</h3>
    
    <div class="card" *ngFor="let article of articles">
        
      <div class="card__header">
        <img src={{article.urlToImage}} alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <!-- <span class="tag tag-blue">Technology</span> -->
        <a href={{article.url}} target="_blank"><h4>{{article.title}}</h4></a>
        <p>{{article.content}}</p>
      </div>
      <div class="card__footer">
        <div class="user">
          <!-- <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image"> -->
          <div class="user__info">
            <h5>{{article.source.name}}</h5>
            <small>2h ago</small>
          </div>
        </div>
      </div>
    
    </div>
    
  </div>
  </div>